@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css');

body {
    margin: 0;
    color: #34495E;
    background: #E6ECF0;
    min-height: 150vh;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    transition: 0.15s;
}

*:focus {
    outline: none;
}

h1, h2, h3, h4, h5, p {
    margin: 8px;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

em p {
    font-size: 13px;
    line-height: 1.5;
}

a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #30A0EE;
    margin: 0;
    cursor: pointer;
}

a:hover {
    color: #48abf0;
}

section {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

@media screen and (max-width: 742px) {
    section {
        display: block;
    }
}

.my-scrolling-class .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.col1, .col2 {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.1rem 0.1rem;
}

[v-cloak] {
    display: none;
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 73, 94, 0.4);
    z-index: 9999;
}

.loading p {
    background: #fff;
    width: 150px;
    text-align: center;
    margin: 30vh auto 0;
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(52, 73, 94, 0.5);
}

.error-msg {
    margin-top: 1rem;
    text-align: center;
}

.error-msg p {
    color: #ef5777;
    margin: 0;
}

.button {
    background: #30A0EE;
    border: 0;
    outline: 0;
    color: #fff;
    padding: 0.5rem 1rem;
    min-width: 150px;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.button:hover {
    background: #48abf0;
}

.button:disabled {
    opacity: 0.5;
}

.button:disabled:hover {
    background: #30A0EE;
}

.text-center {
    text-align: center;
}

.inline {
    margin: 10px;
    padding: 5px 10px;
    list-style: none;
}

.inline li {
    display: inline-block;
    font-size: 14px;
}

.clear {
    clear: both;
}

.md-button-custom {
    padding: 9px;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center
}

.rating {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 10px;
    /* translateX used in combination with left to center .inner */
    /* translateY used to position .inner 50% above its height.. */
    /* starting from a declared position of top: 0 */
    transform: translateX(-50%) translateY(-50%);
    /* make .inner 50% of width and height of parent (.outer) */
    width: auto;
    height: auto;
    background-color: hsla(0, 100%, 99%, 0.8);
    border-radius: 20px;
}

label {
    display: block;
    font-size: 15px;
}

form input {
    display: block;
    width: 100%;
    margin-bottom: 0.3rem;
    font-size: 13px;
    padding: 5px 10px;
    outline: 0;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
}

form input:focus {
    box-shadow: 0 0 5px 0 rgba(52, 73, 94, 0.2);
}

form textarea {
    resize: none;
    border: 1px solid #e6ecf0;
    outline: 0;
    height: 100px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
}

.fade-enter-active {
    transition: opacity 0.5s;
}

.fade-leave-active {
    transition: opacity 0s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

header {
    position: relative;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(52, 73, 94, 0.5);
    z-index: 10;
}

header h3 {
    display: inline-block;
    margin: 10px;
}

header ul {
    float: right;
    text-align: right;
}

header ul li {
    margin-left: 6px;
}

header ul li a {
    display: block;
    padding: 1px 2px;
}

@media screen and (max-width: 742px) {
    header h3 {
        display: block;
        text-align: center;
    }

    header ul {
        float: none;
        text-align: center;
    }
}

#login {
    background: linear-gradient(to right, #0c5460 0%, #0c5460 50%, #fff 50%, #fff 100%);
}

@media screen and (max-width: 742px) {
    #login {
        height: 100vh;
        background: #fff;
    }
}

#login .col1 {
    height: 100vh;
    padding-top: 3vh;
}

#login .col2 {
    height: 100vh;
    padding-top: 2vh;
}

#login .col3 {
    width: 40vh;
}

@media screen and (max-width: 742px) {
    #login .col1, #login .col2 {
        height: auto;
        padding-top: 1vh;
    }
}

#login .col1 {
    color: #fff;
}

@media screen and (max-width: 742px) {
    #login .col1 {
        display: none;
    }
}

#login .col1 p {
    max-width: 490px;
    margin-top: 0.8rem;
    line-height: 1.8;
}

#login .col1 a {
    color: #fff;
    text-decoration: underline;
}

#login .signup-form {
    padding-top: 0.5vh;
}

@media screen and (max-width: 742px) {
    #login .signup-form {
        padding-top: 1vh;
    }
}

#login .col2 form {
    max-width: 550px;
    margin: 0 auto;
}

#login .col2 .extras {
    float: right;
    text-align: right;
}

#login .col2 .extras a {
    display: block;
    margin-bottom: 0.5rem;
}

#login .col2 .password-reset h1 {
    margin-bottom: 1rem;
}

#login .col2 .password-reset p {
    margin-bottom: 2rem;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.5);
}

.modal .modal-content {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.5);
    z-index: 999;
}

.modal .modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.15s;
}

.modal .modal-content .close:hover {
    color: #000;
}

.modal .modal-content h3 {
    margin: 0;
}

.modal .modal-content p {
    margin: 15px 0;
}

.modal .modal-content .error {
    color: tomato;
    font-size: 16px;
}

.modal .modal-content .button {
    width: 100%;
}

#dashboard {
    padding: 10px;
}

#dashboard .col1 {
    flex: 0 0 40%;
}

#dashboard section {
    margin: auto;
    max-width: 1100px;
}

@media screen and (max-width: 800px) {
    #dashboard .col1 {
        flex: 0 0 40%;
    }
}

#dashboard .profile {
    background: #fff;
    padding: 0.5rem;
}

#dashboard .profile p {
    color: #657786;
    margin-bottom: 1rem;
}

#dashboard .create-post p {
    margin-bottom: 0.5rem;
}

#dashboard .create-post textarea {
    height: 200px;
    margin: 0;
}

#dashboard .create-post .button {
    margin-top: 0.5rem;
    width: 100%;
    z-index: 5;
    border-radius: 0 0 3px 3px;
}

#dashboard .hidden-posts {
    text-align: center;
    border: 1px solid #e6ecf0;
    font-size: 16px;
    border-bottom: 0;
    background: #fff;
}

#dashboard .hidden-posts:hover {
    background: #f5f8fa;
    cursor: pointer;
}

#dashboard .hidden-posts .new-posts {
    color: #30A0EE;
}

#dashboard .hidden-posts p {
    padding: 15px;
    margin: 0 auto;
    color: #a0bdd0;
}

#dashboard .post {
    border: 1px solid #e6ecf0;
    border-bottom: 0;
    font-size: 16px;
    padding: 1.5rem;
    background: #fff;
    margin-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
}

#dashboard .fullPost {
    border: 1px solid #e6ecf0;
    border-bottom: 0;
    font-size: 16px;
    padding: 1.5rem;
    background: #fff;
    margin-top: 2rem;
    position: relative;
}

#dashboard .post:hover {
    background: #f5f8fa;
}

#dashboard .post h5 {
    margin: 0 0 0.5rem;
}

#dashboard .post span {
    display: block;
    font-style: italic;
    font-size: 14px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #a0bdd0;
}

#dashboard .post p {
    margin: 0;
}

#dashboard .post ul {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
}

#dashboard .post ul li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 14px;
}

#dashboard .no-results {
    text-align: center;
    padding: 0;
}

#dashboard .c-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 73, 94, 0.4);
    z-index: 999;
}

#dashboard .c-modal .c-container {
    position: relative;
    max-width: 600px;
    margin: 30vh auto 0;
    padding: 2rem;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(52, 73, 94, 0.5);
}

#dashboard .c-modal .c-container a {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
}

#dashboard .c-modal .c-container .button {
    margin-top: 1rem;
}

#dashboard .p-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 73, 94, 0.4);
    z-index: 999;
}

#dashboard .p-modal .p-container {
    position: fixed;
    max-width: 1000px;
    top: 2vh;
    bottom: 2vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 3px;
    background: hsla(0, 100%, 99%, 0.9);
    box-shadow: 0 0 20px 0 rgba(52, 73, 94, 0.5);
    overflow: auto;
}

#dashboard .p-modal .p-container .close {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    font-size: 15px;
}

#dashboard .p-modal .p-container .post {
    border: 0;
    border-bottom: 1px solid #e6ecf0;
}

#dashboard .p-modal .p-container .post:hover {
    background: #fff;
}

#dashboard .p-modal .p-container .comment {
    font-size: 16px;
    padding: 1.5rem;
    border-bottom: 1px solid #e6ecf0;
    background-color: #ffffff;
}

#dashboard .p-modal .p-container .comment:first-of-type {
    border-top: 0;
}

#dashboard .p-modal .p-container .comment h5 {
    margin: 0 0 0.5rem;
}

#dashboard .p-modal .p-container .comment span {
    display: block;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: #b1c8d8;
}

#dashboard .p-modal .p-container .comment p {
    margin: 0;
}

#settings {
    padding: 10px 0;
}

#settings .col1 {
    max-width: 500px;
    min-height: auto;
    margin: 0 auto 0;
    background: #fff;
    padding: 0.5rem;
}

#settings form {
    margin-top: 20px;
}

#settings .success {
    color: #1abc9c;
    margin: 0.5rem 0 -2rem;
}

#settings .button {
    margin-top: 0.8rem;
}

.scrolling-class {
    max-height: 1000px;
    overflow-y: auto;
}

#mainContent {
    background-color: white;
}

#aboutCOVID {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-image: url('https://stories.uh.edu/covid-19/assets/ag2dSlL11z/covidbackground05-2560x1440.jpeg');
    background-size: cover;
    color: #BF0000;
}

#aboutApp {
    display: block;
    position: relative;
    color: rgb(255, 255, 255)
}

#aboutApp::after {
    content: "";
    background-image: url('https://media.cntraveler.com/photos/5ecfbc8a0877597c10c84052/16:9/w_2560%2Cc_limit/Travel-GettyImages-482761951.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: #da554b;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#aboutCOVID p {
    padding-left: 200px;
    padding-right: 200px;
}

#aboutApp p {
    padding-left: 200px;
    padding-right: 200px;
}

#mainContent h5 {
    padding: 0 150px;
}

#mainContent .name {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#mainContent .rowName {
    /*background: linear-gradient(white, #efb3ab, #ec9488);*/
    padding: 0 100px 100px;
}

#mainContent .columnName {
    float: left;
    width: 24%;
    margin: 5px;
}

@media screen and (max-width: 650px) {
    .columnName {
        width: 100%;
        display: block;
    }
}

#mainContent .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
}

#mainContent .column p {
    padding-left: 10px;
    padding-right: 10px;
    height: 0;
}

#mainContent .container {
    height: 200px;
}

#mainContent .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

#statistics_form .section {
    padding: 20px;
}

#statistics_dashboard .chart {
    width: 60%;
    margin-right: 5%;
    float: left;
}

#statistics_dashboard .indic {
    width: 33%;
    float: left;
}

#statistics_dashboard .H {
    width: 45%;
    margin-right: 5%;
    float: left;
}

#statistics_dashboard .C {
    width: 45%;
    float: left;
}

.body {
    min-height: 110vh;
    max-width: 100vh;
    padding-left: 10px;
    padding-right: 10px;
}

#statistics_dashboard table {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border-collapse: collapse;
    border: 3px solid #ffffff;
}

#statistics_dashboard table th {
    text-transform: uppercase;
    text-align: center;
    background: #000000;
    color: #FFF;
    padding: 8px;
    min-width: 30px;
}

#statistics_dashboard table td {
    text-align: left;
    padding: 8px;
}

#statistics_dashboard table td:last-child {
    border-right: none;
}

#statistics_dashboard table tbody tr:nth-child(2n) td {
    background: #dddddc;
}

#statistics_dashboard .container {
    max-width: 1300px;
    margin: auto;
    padding: 10px;
}

#statistics_map section {
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}

#statistics_map .container {
    max-width: 1300px;
    margin: auto;
}

#login .countries_container {
    overflow: auto; /* Optionally you can also use overflow: scroll; */
}

#password *, *:before, *:after {
    box-sizing: inherit;
}

#password ul {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#password li {
    color: #525f7f;
    position: relative;
}

#password li:before {
    content: "";
    width: 0;
    height: 2px;
    background: #2ecc71;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#password {
    position: relative;
}

#password input[type="password"] {
    display: block;
    color: rgba(136, 152, 170, 1);
    font-weight: 300;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: 2px;
    border-radius: .25rem;
    background-color: #fff;
    transition: border-color .4s ease;
    border: 1px solid #cad1d7;
    outline: 0;
}

#password input[type="password"]:focus {
    border-color: rgba(50, 151, 211, .45);
}

#password .is_valid {
    color: rgba(136, 152, 170, 0.8);
}

#password .is_valid:before {
    width: 100%;
}

#password .checkmark_container {
    border-radius: 50%;
    background: #2ecc71;
    width: 30px;
    height: 30px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .4s ease;
}

#password .show_checkmark {
    visibility: visible;
    opacity: 1;
}

#password .checkmark {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: white;
    stroke-width: 15;
    stroke-linecap: round;
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
}

#password .checked {
    animation: draw 0.5s ease forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}
