@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    color: #34495E;
    background: #E6ECF0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    transition: 0.15s;
}

*:focus {
    outline: none;
}

h1, h2, h3, h4, h5, p {
    margin: 0 0 0.5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #30A0EE;
    margin: 0;
    cursor: pointer;
}

a:hover {
    color: #48abf0;
}

section {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 742px) {
    section {
        display: block;
    }
}

.col1, .col2 {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.2rem;
}

[v-cloak] {
    display: none;
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 73, 94, 0.4);
    z-index: 9999;
}

.loading p {
    background: #fff;
    width: 150px;
    text-align: center;
    margin: 40vh auto 0;
    padding: 40px 0;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(52, 73, 94, 0.5);
}

.error-msg {
    margin-top: 1rem;
    text-align: center;
}

.error-msg p {
    color: #ef5777;
    margin: 0;
}

.button {
    background: #30A0EE;
    border: 0;
    outline: 0;
    color: #fff;
    padding: 0.8rem 1rem;
    min-width: 150px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background: #48abf0;
}

.button:disabled {
    opacity: 0.5;
}

.button:disabled:hover {
    background: #30A0EE;
}

.text-center {
    text-align: center;
}

.inline {
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.inline li {
    display: inline-block;
}

.clear {
    clear: both;
}

form label {
    display: block;
    font-size: 16px;
    margin-bottom: 0.5rem;
}

form input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 10px;
    outline: 0;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
}

form input:focus {
    box-shadow: 0 0 5px 0 rgba(52, 73, 94, 0.2);
}

form textarea {
    resize: none;
    border: 1px solid #e6ecf0;
    outline: 0;
    height: 100px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.fade-enter-active {
    transition: opacity 0.5s;
}

.fade-leave-active {
    transition: opacity 0s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

header {
    position: relative;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(52, 73, 94, 0.5);
    z-index: 10;
}

header h3 {
    display: inline-block;
    margin: 30px;
}

header ul {
    float: right;
    text-align: right;
}

header ul li {
    margin-top: 4px;
    margin-left: 6px;
}

header ul li a {
    display: block;
    padding: 5px;
}

@media screen and (max-width: 742px) {
    header h3 {
        display: block;
        text-align: center;
    }

    header ul {
        float: none;
        text-align: center;
    }
}

#login {
    background: linear-gradient(to right, #30A0EE 0%, #30A0EE 50%, #fff 50%, #fff 100%);
}

@media screen and (max-width: 742px) {
    #login {
        height: 100vh;
        background: #fff;
    }
}

#login .col1 {
    height: 100vh;
    padding-top: 30vh;
}

#login .col2 {
    height: 100vh;
    padding-top: 10vh;
}

@media screen and (max-width: 742px) {
    #login .col1, #login .col2 {
        height: auto;
        padding-top: 20vh;
    }
}

#login .col1 {
    color: #fff;
}

@media screen and (max-width: 742px) {
    #login .col1 {
        display: none;
    }
}

#login .col1 p {
    max-width: 490px;
    margin-top: 2rem;
    line-height: 1.8;
}

#login .col1 a {
    color: #fff;
    text-decoration: underline;
}

#login .signup-form {
    padding-top: 20vh;
}

@media screen and (max-width: 742px) {
    #login .signup-form {
        padding-top: 10vh;
    }
}

#login .col2 h1 {
    margin-bottom: 2rem;
}

#login .col2 form {
    max-width: 450px;
    margin: 0 auto;
}

#login .col2 .extras {
    float: right;
    text-align: right;
}

#login .col2 .extras a {
    display: block;
    margin-bottom: 0.5rem;
}

#login .col2 .password-reset h1 {
    margin-bottom: 1rem;
}

#login .col2 .password-reset p {
    margin-bottom: 2rem;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.5);
}

.modal .modal-content {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.5);
    z-index: 999;
}

.modal .modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.15s;
}

.modal .modal-content .close:hover {
    color: #000;
}

.modal .modal-content h3 {
    margin: 0;
}

.modal .modal-content p {
    margin: 15px 0;
}

.modal .modal-content .error {
    color: tomato;
    font-size: 16px;
}

.modal .modal-content .button {
    width: 100%;
}

#dashboard section {
    padding: 2rem 0;
}

#dashboard .col1 {
    flex: 0 0 30%;
}

@media screen and (max-width: 1000px) {
    #dashboard .col1 {
        flex: 0 0 40%;
    }
}

#dashboard .profile {
    background: #fff;
    padding: 2rem;
}

#dashboard .profile p {
    color: #657786;
    margin-bottom: 1rem;
}

#dashboard .create-post p {
    margin-bottom: 0.5rem;
}

#dashboard .create-post textarea {
    height: 200px;
    margin: 0;
}

#dashboard .create-post .button {
    margin-top: 1rem;
    width: 100%;
    z-index: 5;
    border-radius: 0 0 3px 3px;
}

#dashboard .hidden-posts {
    text-align: center;
    border: 1px solid #e6ecf0;
    font-size: 16px;
    border-bottom: 0;
    background: #fff;
}

#dashboard .hidden-posts:hover {
    background: #f5f8fa;
    cursor: pointer;
}

#dashboard .hidden-posts .new-posts {
    color: #30A0EE;
}

#dashboard .hidden-posts p {
    padding: 15px;
    margin: 0 auto;
    color: #a0bdd0;
}

#dashboard .post {
    border: 1px solid #e6ecf0;
    border-bottom: 0;
    font-size: 16px;
    padding: 1.5rem;
    background: #fff;
}

#dashboard .post:hover {
    background: #f5f8fa;
}

#dashboard .post:last-of-type {
    border-bottom: 1px solid #F5F8FA;
}

#dashboard .post h5 {
    margin: 0 0 0.5rem;
}

#dashboard .post span {
    display: block;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: #a0bdd0;
}

#dashboard .post p {
    margin: 0;
}

#dashboard .post ul {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
}

#dashboard .post ul li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 14px;
}

#dashboard .no-results {
    border: 1px solid #e6ecf0;
    background: #fff;
    text-align: center;
    padding: 100px 1rem;
}

#dashboard .c-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 73, 94, 0.4);
    z-index: 999;
}

#dashboard .c-modal .c-container {
    position: relative;
    max-width: 600px;
    margin: 30vh auto 0;
    padding: 2rem;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(52, 73, 94, 0.5);
}

#dashboard .c-modal .c-container a {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
}

#dashboard .c-modal .c-container .button {
    margin-top: 1rem;
}

#dashboard .p-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 73, 94, 0.4);
    z-index: 999;
}

#dashboard .p-modal .p-container {
    position: fixed;
    max-width: 600px;
    top: 2vh;
    bottom: 2vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(52, 73, 94, 0.5);
    overflow: auto;
}

#dashboard .p-modal .p-container .close {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
}

#dashboard .p-modal .p-container .post {
    border: 0;
    border-bottom: 1px solid #e6ecf0;
}

#dashboard .p-modal .p-container .post:hover {
    background: #fff;
}

#dashboard .p-modal .p-container .comment {
    font-size: 16px;
    padding: 1.5rem;
    border-top: 1px solid #e6ecf0;
}

#dashboard .p-modal .p-container .comment:first-of-type {
    border-top: 0;
}

#dashboard .p-modal .p-container .comment h5 {
    margin: 0 0 0.5rem;
}

#dashboard .p-modal .p-container .comment span {
    display: block;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: #b1c8d8;
}

#dashboard .p-modal .p-container .comment p {
    margin: 0;
}

#settings {
    padding: 2rem 0;
}

#settings .col1 {
    max-width: 600px;
    margin: 5vh auto 0;
    background: #fff;
    padding: 2rem;
}

#settings form {
    margin-top: 3rem;
}

#settings .success {
    color: #1abc9c;
    margin: 0.5rem 0 -2rem;
}

#settings .button {
    margin-top: 2rem;
}