@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css');
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

/* Typography
********************************************************************* */

html {
    -webkit-text-size-adjust: auto;
    text-size-adjust: auto;
    font-size: 70%;
    scroll-behavior: smooth
}

body {
    color: #34495E;
    background: #E6ECF0;
}

* {
    font-family: "Merriweather", serif;
    box-sizing: border-box;
    transition: 0.15s;
    letter-spacing: .02rem;
    line-height: 2rem;
}

*:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 10px;
}

h1 {
    font-size: 3.0rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2.1rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.5rem;
}

em p li label pre blockquote dl figure table ul ol form input textarea select fieldset ul ol ul ul, ul ol, ol ol, ol ul {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: #17A2B8;
    margin: 0;
    cursor: pointer;
}

a:hover {
    color: #17A2B8;
    text-decoration: #17a2b8;
}


section {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 742px) {
    section {
        display: block;
    }
}

label {
    display: block;
}

form input {
    display: block;
    width: 100%;
    margin-bottom: 0.3rem;
    padding: 5px 10px;
    outline: 0;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
}

form input:focus {
    box-shadow: 0 0 5px 0 rgba(52, 73, 94, 0.2);
}

form textarea {
    resize: none;
    border: 1px solid #e6ecf0;
    outline: 0;
    height: 100px;
    width: 100%;
    padding: 5px 10px;
}


/* Global Classes
********************************************************************* */

.inline-tags {
    font-size: 1.2rem;
}

.my-scrolling-class .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.col1, .col2 {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.1rem 0.1rem;
}

[v-cloak] {
    display: none;
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 73, 94, 0.4);
    z-index: 9999;
}

.loading p {
    background: #fff;
    width: 150px;
    text-align: center;
    margin: 30vh auto 0;
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(52, 73, 94, 0.5);
}

.error-msg {
    margin-top: 1rem;
    text-align: center;
}

.error-msg p {
    color: #ef5777;
    margin: 0;
}

.button {
    background: #30A0EE;
    border: 0;
    outline: 0;
    color: #fff;
    padding: 0.5rem 1rem;
    min-width: 150px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.button:hover {
    background: #48abf0;
}

.button:disabled {
    opacity: 0.5;
}

.button:disabled:hover {
    background: #30A0EE;
}

.text-center {
    text-align: center;
}

.inline {
    margin: 10px;
    padding: 5px 10px;
    list-style: none;
}

.inline li {
    display: inline-block;
}

.clear {
    clear: both;
}

.md-button-custom {
    padding: 9px;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center
}

.rating {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 10px;
    /* translateX used in combination with left to center .inner */
    /* translateY used to position .inner 50% above its height.. */
    /* starting from a declared position of top: 0 */
    transform: translateX(-50%) translateY(-50%);
    /* make .inner 50% of width and height of parent (.outer) */
    width: auto;
    height: auto;
    background-color: hsla(0, 100%, 99%, 0.8);
    border-radius: 20px;
}

.container {
    max-width: 1100px;
    padding-top: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 80%;
    }
}

.logo {
    height: 300px;
    width: 430px;
    padding-bottom: 5px
}

.goTop {
    height: 40px;
    width: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.fade-enter-active {
    transition: opacity 0.5s;
}

.fade-leave-active {
    transition: opacity 0s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.block {
    width: 70px;
    height: 3px;
    background: #e55d87; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
    background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
    background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    margin-bottom: 10px;
}

/******************************************************/
/*Headers*/

header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #17A2B8;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1);
}

header h3 {
    display: inline-block;
    margin: 10px;
}

header ul {
    float: right;
    text-align: right;
    font-size: 16px;
}

header ul li {
    margin-left: 6px;
}

header ul li a {
    display: block;
    padding: 1px 2px;
}

@media screen and (max-width: 742px) {
    header h3 {
        display: block;
        text-align: center;
    }

    header ul {
        float: none;
        text-align: center;
    }
}

/*****************************************************/
/*Footer section*/
.generic-anchor {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.generic-anchor:hover {
    color: #ccc;
    text-decoration: none;
}

.flex-rw {
    display: flex;
    flex-flow: row wrap;
}

.footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
}

.footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    border-top: 1px solid #ccc;
    width: 100%;
}

.footer-social-overlap {
    position: relative;
    z-index: 2;
    padding: 0;
}

.footer-social-connect {
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    color: #fff;
}

.footer-social-small {
    font-size: 2rem;
    padding: 0 20px;
}

.footer-social-overlap > a {
    font-size: 2.8rem;
}

.footer-social-overlap > a:not(:first-child) {
    margin-left: 12px;
}

.footer-bottom-section > div:first-child {
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .footer-social-connect {
        font-size: 2.5em;
    }

    .footer-social-overlap > a {
        font-size: 2.24em;
    }
}

@media only screen and (max-width: 568px) {
    .footer-social-section {
        justify-content: center;
    }

    .footer-social-section::after {
        top: 25%;
    }

    .footer-social-connect {
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .footer-social-overlap {
        display: flex;
        justify-content: center;
    }

    .footer-social-icons-wrapper {
        width: 100%;
        padding: 0;
    }

    .footer-social-overlap > a:not(:first-child) {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .footer-social-overlap > a {
        margin: auto;
    }

    .footer-social-overlap > a:not(:first-child) {
        margin-left: 0;
    }
}

@media only screen and (max-width: 320px) {
    .footer-social-connect {
        font-size: 2.4em;
    }

    .footer-social-overlap > a {
        font-size: 2.24em;
    }
}

footer {
    width: 100%;
    margin-top: 70px;
    min-height: 50px;
    padding: 20px 0 20px 0;
    /*background: #e55d87;*/
    /*background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);*/
    /*background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);*/
    /*background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);*/
    background: #17A2B8;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1);
    box-sizing: border-box;
}

footer p {
    color: #FFFFFF;
    margin: 20px 0 0 0;
}

/******************************************************/
/*Login section*/

#login {
    background: linear-gradient(to right, #0c5460 0%, #0c5460 50%, #fff 50%, #fff 100%);
}

@media screen and (max-width: 742px) {
    #login {
        height: 100vh;
        background: #fff;
    }
}

#login .col1 {
    height: 100vh;
    padding-top: 3vh;
}

#login .col2 {
    height: 100vh;
    padding-top: 2vh;
}

#login .col3 {
    width: 40vh;
}

@media screen and (max-width: 742px) {
    #login .col1, #login .col2 {
        height: auto;
        padding-top: 1vh;
    }
}

#login .col1 {
    color: #fff;
}

@media screen and (max-width: 742px) {
    #login .col1 {
        display: none;
    }
}

#login .col1 p {
    max-width: 490px;
    margin-top: 0.8rem;
}

#login .col1 a {
    color: #fff;
    text-decoration: underline;
}

#login .signup-form {
    padding-top: 0.5vh;
}

@media screen and (max-width: 742px) {
    #login .signup-form {
        padding-top: 1vh;
    }
}

#login .col2 form {
    max-width: 550px;
    margin: 0 auto;
}

#login .col2 .extras {
    float: right;
    text-align: right;
}

#login .col2 .extras a {
    display: block;
    margin-bottom: 0.5rem;
}

#login .col2 .password-reset h1 {
    margin-bottom: 1rem;
}

#login .col2 .password-reset p {
    margin-bottom: 2rem;
}

#login .countries_container {
    overflow: auto; /* Optionally you can also use overflow: scroll; */
}

/************************************************************/
/*Posts section in Experience Dashboard*/
.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.5);
}

.modal .modal-content {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.5);
    z-index: 999;
}

.modal .modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.15s;
}

.modal .modal-content .close:hover {
    color: #000;
}

.modal .modal-content h3 {
    margin: 0;
}

.modal .modal-content p {
    margin: 15px 0;
}

.modal .modal-content .error {
    color: tomato;
}

.modal .modal-content .button {
    width: 100%;
}

/******************************************************/
/*Experience Dashboard*/

#dashboard {
    padding: 10px;
}

#dashboard .col1 {
    flex: 0 0 40%;
    margin-right: 10px;
}

@media screen and (max-width: 742px) {
    #dashboard .col1 {
        flex: 0 0 30%;
    }
}

#dashboard .profile {
    background: #fff;
    padding: 0.5rem;
}

#dashboard .profile p {
    color: #657786;
    margin-bottom: 1rem;
}

#dashboard .create-post p {
    margin-bottom: 0.5rem;
}

#dashboard .create-post textarea {
    height: 200px;
    margin: 0;
}

#dashboard .create-post .button {
    margin-top: 0.5rem;
    width: 100%;
    z-index: 5;
    border-radius: 0 0 3px 3px;
}

#dashboard .hidden-posts {
    text-align: center;
    border: 1px solid #e6ecf0;
    border-bottom: 0;
    background: #fff;
}

#dashboard .hidden-posts:hover {
    background: #f5f8fa;
    cursor: pointer;
}

#dashboard .hidden-posts .new-posts {
    color: #30A0EE;
}

#dashboard .hidden-posts p {
    padding: 15px;
    margin: 0 auto;
    color: #a0bdd0;
}

#dashboard .post {
    border: 1px solid #e6ecf0;
    border-bottom: 0;
    padding: 1.5rem;
    background: #fff;
    margin-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
}

#dashboard .fullPost {
    border: 1px solid #e6ecf0;
    border-bottom: 0;
    padding: 1.5rem;
    background: #fff;
    margin-top: 2rem;
    position: relative;
}

#dashboard .post:hover {
    background: #f5f8fa;
}

#dashboard .post h5 {
    margin: 0 0 0.5rem;
}

#dashboard .post span {
    display: block;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #a0bdd0;
}

#dashboard .post p {
    margin: 0;
}

#dashboard .post ul {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
}

#dashboard .post ul li {
    display: inline-block;
    margin-right: 1rem;
}

#dashboard .no-results {
    text-align: center;
    padding: 0;
}

#dashboard .c-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 73, 94, 0.4);
    z-index: 999;
}

#dashboard .c-modal .c-container {
    position: relative;
    max-width: 600px;
    margin: 30vh auto 0;
    padding: 2rem;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(52, 73, 94, 0.5);
}

#dashboard .c-modal .c-container a {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
}

#dashboard .c-modal .c-container .button {
    margin-top: 1rem;
}

#dashboard .p-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 73, 94, 0.4);
    z-index: 999;
}

#dashboard .p-modal .p-container {
    position: fixed;
    max-width: 1000px;
    top: 2vh;
    bottom: 2vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 3px;
    background: hsla(0, 100%, 99%, 0.9);
    box-shadow: 0 0 20px 0 rgba(52, 73, 94, 0.5);
    overflow: auto;
}

#dashboard .p-modal .p-container .close {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
}

#dashboard .p-modal .p-container .post {
    border: 0;
    border-bottom: 1px solid #e6ecf0;
}

#dashboard .p-modal .p-container .post:hover {
    background: #fff;
}

#dashboard .p-modal .p-container .comment {
    padding: 1.5rem;
    border-bottom: 1px solid #e6ecf0;
    background-color: #ffffff;
}

#dashboard .p-modal .p-container .comment:first-of-type {
    border-top: 0;
}

#dashboard .p-modal .p-container .comment h5 {
    margin: 0 0 0.5rem;
}

#dashboard .p-modal .p-container .comment span {
    display: block;
    font-style: italic;
    margin-bottom: 0.5rem;
    color: #b1c8d8;
}

#dashboard .p-modal .p-container .comment p {
    margin: 0;
}

/***********************************************************************/
/*Settings*/

#settings {
    padding: 10px 0;
}

#settings .col1 {
    max-width: 750px;
    margin: 0 auto 0;
    background: #fff;
    padding: 0.5rem;
}

#settings form {
    margin-top: 20px;
}

#settings .success {
    color: #1abc9c;
    margin: 0.5rem 0 -2rem;
}

#settings .button {
    margin-top: 0.8rem;
}

/*********************************************************/
/*About Page*/
#aboutContent .name {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#aboutContent .rowName {
    padding: 0 100px 100px;
}

#aboutContent .columnName {
    float: left;
    width: 24%;
    margin: 5px;
}

@media screen and (max-width: 742px) {
    .columnName {
        width: 100%;
        display: block;
    }
}

#aboutContent .column p {
    padding-left: 10px;
    padding-right: 10px;
    height: 0;
}

#aboutContent .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

#aboutContent .content-container {
    align-content: center;
    width: 1000px;
    max-width: 100%;
    box-shadow: 2px 3px 18px -17px rgba(0, 0, 0, 1);
    padding: 20px;
    margin: 80px auto 2rem;
    background-color: whitesmoke;
}

/*************************************************/
/*Statistic Dashboard (Country Dashboard)*/

#statistics_dashboard .chart {
    width: 60%;
    margin-right: 5%;
    float: left;
}

#statistics_dashboard .indic {
    width: 350px;
    float: left;
}

#statistics_dashboard .indicControls {
    width: 400px;
}

#statistics_dashboard .indicControls h5 {
    font-size: 16px;
}

#statistics_dashboard .indicControls p {
    font-size: 13px;
}

#statistics_dashboard .H {
    width: 45%;
    margin-right: 5%;
    float: left;
}

#statistics_dashboard .C {
    width: 45%;
    float: left;
}

#statistics_dashboard #C_indicators {
    width: 500px;
    margin-left: 10px;
    margin-right: auto;
    border-collapse: collapse;
    border: 3px solid #ffffff;
}

#statistics_dashboard #H_indicators {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 3px solid #ffffff;
}

#statistics_dashboard table th {
    text-transform: uppercase;
    text-align: center;
    background: #000000;
    color: #FFF;
    padding: 8px;
}

#statistics_dashboard table td {
    text-align: left;
    padding: 8px;
}

#statistics_dashboard table td:last-child {
    border-right: none;
}

#statistics_dashboard table tbody tr:nth-child(2n) td {
    background: #dddddc;
}

/******************************************************/
/*Statistic Map (Global dashboard)*/

#statistics_map .geo-map-section {
    align-content: center;
    width: 5000px;
    max-width: 100%;
    /*box-shadow: 2px 3px 18px -17px rgba(0, 0, 0, 1);*/
    /*margin: 8px auto 2rem;*/
    /*padding: 50px*/
}

/******************************************************/
/*Statistical Table (Global Dashboard)*/

#statistics_table {
    margin-left: auto;
    margin-right: auto;
}

/******************************************************/
/*Pinned Countries section*/

#pinnedCountries .advisory p {
    padding-left: 10px;
    padding-right: 10px;
}

#pinnedCountries .column {
    float: left;
    width: 33%;
    padding-left: 10px;
}

#pinnedCountries .row {
    margin: 0 -5px;
}

#pinnedCountries .cardPinnedCountries {
    padding: 12px;
    text-align: center;
    background-color: #f1f1f1;
    color: #fff;
    box-shadow: 7px 6px 26px -17px rgba(0, 0, 0, 1);
}

#pinnedCountries .chart {
    width: 80%;
    margin: auto;
    padding: 15px;
    /*float: left;*/
}

/**************************************************************/
/*Password Section*/
#password *, *:before, *:after {
    box-sizing: inherit;
}

#password ul {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#password li {
    color: #525f7f;
    position: relative;
}

#password li:before {
    content: "";
    width: 0;
    height: 2px;
    background: #2ecc71;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#password {
    position: relative;
}

#password input[type="password"] {
    display: block;
    color: rgba(136, 152, 170, 1);
    font-weight: 300;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: 2px;
    border-radius: .25rem;
    background-color: #fff;
    transition: border-color .4s ease;
    border: 1px solid #cad1d7;
    outline: 0;
}

#password input[type="password"]:focus {
    border-color: rgba(50, 151, 211, .45);
}

#password .is_valid {
    color: rgba(136, 152, 170, 0.8);
}

#password .is_valid:before {
    width: 100%;
}

#password .checkmark_container {
    border-radius: 50%;
    background: #2ecc71;
    width: 30px;
    height: 30px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .4s ease;
}

#password .show_checkmark {
    visibility: visible;
    opacity: 1;
}

#password .checkmark {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: white;
    stroke-width: 15;
    stroke-linecap: round;
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
}

#password .checked {
    animation: draw 0.5s ease forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

/*******************************************************************/
/*Main Section*/
#mainPage section {
    max-width: 1300px;
}

#mainPage .card-shadow {
    text-align: left;
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 26px -17px rgba(0, 0, 0, 1);
    margin-left: 20px;
    width: 230px;
    max-width: 230px;
}

@media screen and (max-width: 742px) {
    #mainPage .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 20px
    }
}

/******************************************************/
/*TeamMember Section*/

.card {
    background: #fff linear-gradient(#f8f8f8, #fff);
}

.card-height {
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
    height: 250px;
    width: 450px;
}

.card h3 {
    text-align: center;
}

.card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dE685E, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card.green .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
}

.card.blue .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
}

.card.purple .additional {
    background: linear-gradient(#dE685E, #EE786E);
}

.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.card .additional .more-info h3 {
    color: #fff;
    margin-bottom: 0;
}

.card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

.card .additional .coords span + span {
    float: right;
}

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    margin-top: 30px;
    color: #fff;
}

.card .additional .stats > div {
    flex: 1;
    max-width: 70px;
    text-align: center;
}

.card .additional .stats a {
    text-decoration: none;
    display: block;
}

.card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 1rem 1rem;
}

.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.8em;
    color: #525f7f;
}
